@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body, html{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.6;

}

.inicio{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#metade1, #metade2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 49.9%;
    padding-top: 40px;
    height: 400px;
}

#metade1{
    border-right: 1px solid white;
}

#ig, #fb, #yt, #email{
    height: 20px;
}

#fb{
    margin: 0 15px;
}

#email{
    margin-left: 15px;
}

#logo{
    width: 250px;
    height: auto;
}

#botao{
    margin-top: 20px;
    padding: 5px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    text-align: center;
}